.center {
  text-align: center;
}

.cmargin {
  text-align: right;
  padding: 0 15px 0 8vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-flex;
  transition: 0.3s;
  margin: 5vw;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.15);
}

.fwid {
  width: 100%;
}
